<p> <%= @ingredient.name %> </p>
<p> <%= @ingredient.calories %> </p>

<% @ingredient.dishes.each do |dish| %>
<div id="dish-<%= dish.id %>">
  <p> <%= button_to "remove", dishes_ingredient_path(dish: dish, ingredient: @ingredient), method: :patch %>
      <%= dish.name %>, <%= dish.description %>
  </p>
</div>
<% end %>

<% @ingredient.distinct_chefs_alphabetized.each do |chef| %>
<p> <%= chef.name %> </p>
<% end %>
